.product-img-container:hover .btns-container button{
  transform: scale(1);
}
.btns-container button{
  transform: scale(0);
}

.product-img-container:hover .first-image{
  opacity: 0;
}

.product-img-container:hover .stars{
  opacity: 0;
}
.product-img-container:hover .add-to-cart{
  opacity: 1;
}