.special-product-img-container:hover .btns-container button{
  transform: scale(1);
}

.deal-product-img-container:hover .btns-container button{
  transform: scale(1);
}
.btns-container button{
  transform: scale(0);
}

.special-product-img-container:hover .first-image{
  opacity: 0;
}

.deal-product-img-container:hover .first-image{
  opacity: 0;
}

.special-product-img-container:hover .stars{
  opacity: 0;
}
.special-product-img-container:hover .add-to-cart{
  opacity: 1;
}
.deal-product-img-container:hover .stars{
  opacity: 0;
}
.deal-product-img-container:hover .add-to-cart{
  opacity: 1;
}
.best-seller-product-img-container:hover .first-image{
  opacity: 0;
}
.secondary-container:hover .secondary-container-hover{
  @apply text-secondary;
}